language: python
dist: xenial
python:
#  - "2.7"  # sqlite3.enable_load_extension not available
  - "3.5"
  - "3.7"
matrix:
  fast_finish: true
install:
  #- sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION pytest --file=requirements.txt
  - source activate test-environment
  - python setup.py install
script:
  - ( cd niimpy ; curl https://sqlite.org/contrib/download/extension-functions.c?get=25 > sqlite-extension-functions.c ; gcc -lm -shared -fPIC sqlite-extension-functions.c -o sqlite-extension-functions.so )
  - which pytest
  - source activate test-environment
  - which pytest
  - env
  - pytest
