
python-dateutil
numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
coverage
geopy
kaleido
scipy
tqdm
multi-language-sentiment @ git+https://github.com/AaltoRSE/multi-language-sentiment.git
google_takeout_email
