name: Codecov
on: [push, pull_request]
jobs:
  test:
    name: codecov
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.12'
    steps:
      - uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: install deps
        run: |
          pip install .[test,sentiment]
      - name: Run tests and collect coverage
        run: |
          coverage run -m pytest --run_sentiment
          coverage xml -i
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
