name: Test
on: [push, pull_request]
jobs:
  test:
    name: pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - 3.8
          - 3.9
          - 3.10
    steps:
      - uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: install deps
        run: |
          pip install -r requirements.txt -r requirements-dev.txt
      # sqlite3 extension is no urgently needed anymore; no longer required
      # by default
      #- name: setup extension
      #  run: |
      #    python -c 'import niimpy ; niimpy.util.install_extensions()'
      - name: pytest
        run: |
          pytest
