name: Test
on: [push, pull_request]
jobs:
  test:
    name: pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
        pandas-version:
          - '2.1'
          - '2.2'
    steps:
      - uses: actions/checkout@v2
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: install deps
        run: |
          pip install .[test,sentiment] pandas==${{ matrix.python-version }}
      - name: pytest
        run: |
          pytest --run_sentiment
